@model Almanea.tblTeamCapacity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblTeamCapacity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DailyCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumedCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumedCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updatedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updatedate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUserGroupCompany.CompanyNameEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUserGroupCompany.CompanyNameEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
