
@model Almanea.Models.vm_EditPassword

@{
    ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @using (Ajax.BeginForm("ChangePassword", "Home", null,
                                             new AjaxOptions
                                             {
                                                 HttpMethod = "POST",
                                                 OnSuccess = "onSuccess",
                                             }, new { id = "frmAdd" }))
                {

                    @Html.AntiForgeryToken()

                    <div class="row" id="divSearch">
                        <div class="col-xl-4 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating required">@Translation.Password</label>
                                @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = Translation.Password, autofocus = "autofocus" })
                            </div>
                            @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "valid-text" })
                        </div>
                        <div class="col-xl-4 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating required">@Translation.Newpassword</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Translation.Password, autofocus = "autofocus" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "valid-text" })
                        </div>
                        <div class="col-xl-4 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating required">@Translation.ConfirmPassword</label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Translation.ConfirmPassword, autofocus = "autofocus" })
                            </div>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "valid-text" })
                        </div>
                        @Html.HiddenFor(m => m.UserId)
                    </div>
                    <p>

                        <input type="submit" value="@Translation.Submit" class="btn btn-primary pull-right" />
                    </p>

                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function onSuccess(response) {
            if (response.StatusId == -1) {

                //  onComplete();

                warningPopup('@Translation.InvalidCurrentPassword');
            }
            else {


                if (response.StatusId > 0) {

                    successPopup("@Translation.success_ChangePassword");

                    setTimeout(function () { window.location = '@Url.Action("Index")'; }, 3000);
                }
                else if (response.Message != null && response.Message != '') {
                    onComplete();

                    warningPopup(response.Message);
                }
                else {
                    onComplete();

                    warningPopup('@Translation.error_detailMissing');
                }
            }
        }
    </script>
}