@model Almanea.tblProviderWorkinHour

@{
    ViewBag.Title = Translation.AddWorkingHours;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                @*<div class="form-group">
                @Html.LabelFor(model => model.ServiceProviderId, "ServiceProviderId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ServiceProviderId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ServiceProviderId, "", new { @class = "text-danger" })
                </div>
            </div>*@

                <div class="form-group">
                    @Html.Label(Translation.AddWorkingHours, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.WorkingHours, new { htmlAttributes = new { @class = "form-control", @max = 16 } })
                        @Html.ValidationMessageFor(model => model.WorkingHours, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@Translation.Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div>
                @Html.ActionLink(Translation.Backtolist, "Index")
            </div>
        </div>
    </div>
  
}


