<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title</title>
<!-- ============================================ -->
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
<!-- Google Fonts
============================================ -->

<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
@{
var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();

//Arabic
if (culture.Equals("ar"))
{
<link href="~/vendor/bootstrap/css/rtl/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/vendor/ruang-admin.css" rel="stylesheet">
<link href="~/Content/Site-rtl.css" rel="stylesheet" />
}
else
{
<link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/vendor/ruang-admin.css" rel="stylesheet">
<link href="~/Content/Site.css" rel="stylesheet" />
}
}
<link href="~/Content/css/select2.css" rel="stylesheet" />
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
@* @Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="bg-gradient-login">
<div id="container-login">
<div class="row justify-content-center">
<div class="col-xl-10 col-lg-12 col-md-9">
<div class="card shadow-sm my-5">
    @RenderBody()
</div>
</div>
</div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusiveajax")

<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/ruang-admin.js"></script>

<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script src="~/Scripts/Custom.js"></script>
<script src="~/Scripts/select2.js"></script>

<script>
$(document).ready(function () {
lang = '@culture';
ok = '@Translation.Ok';

$('.select2').select2();
});
</script>

@RenderSection("scripts", required: false)
</body>
</html>




