
@model Almanea.Models.vm_ComplainResponse
@using Almanea.BusinessLogic

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label>@Translation.ComplainId</label>
            @Html.TextBoxFor(m => m.ComplainId, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.LabelFor(m => m.Category, new { @class = "bmd-label-floating" })
            @Html.TextBoxFor(m => m.Category, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.LabelFor(m => m.Status, new { @class = "bmd-label-floating" })
            @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.LabelFor(m => m.Comments, new { @class = "bmd-label-floating" })
            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", @style = "resize:none;", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="bmd-label-floating">@Translation.Response</label>
            @Html.TextAreaFor(m => m.Response, new { @class = "form-control", @style = "resize:none;", @readonly = "readonly" })
        </div>
    </div>
</div>
