
@{
    ViewBag.Title = Translation.OrderDetails;
}

@model vm_Order

@using Almanea.Models;
@using Almanea.BusinessLogic;

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header ta-right">
                <a href="@Url.Action("Details", "Print")/@ViewBag.Id" target="_blank" title="Print" data-toggle="tooltip"><i class="fa fa-print"></i></a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SellerName, new { @class = "bmd-label-floating required" })
                            @Html.TextBoxFor(m => m.SellerName, new { @class = "form-control", @placeholder = Translation.ReqSellerName, @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(m => m.SellerName, "", new { @class = "valid-text" })
                    </div>

                    @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.SellerContact, new { @class = "bmd-label-floating required" })
                    @Html.TextBoxFor(m => m.SellerContact, new { @class = "form-control numOnly", @placeholder = Translation.ReqSellerContact, @readonly = "readonly" })
                </div>
                @Html.ValidationMessageFor(m => m.SellerContact, "", new { @class = "valid-text" })
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.InvoiceNo, new { @class = "bmd-label-floating required" })
                    @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control", @placeholder = Translation.ReqInvoiceNo, @readonly = "readonly" })
                </div>
                @Html.ValidationMessageFor(m => m.InvoiceNo, "", new { @class = "valid-text" })
            </div>*@
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SellerContact, new { @class = "bmd-label-floating required" })
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">+966</span>
                                </div>
                                @Html.TextBoxFor(m => m.SellerContact, new { @class = "form-control numOnly", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.OrderNo, new { @class = "bmd-label-floating required" })
                            @Html.TextBoxFor(m => m.OrderNo, new { @class = "form-control", @placeholder = Translation.ReqInvoiceNo, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.InvoiceNo, new { @class = "bmd-label-floating required" })
                            @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control", @placeholder = Translation.ReqInvoiceNo, @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <hr class="thick" />

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CustomerName, new { @class = "bmd-label-floating required" })
                            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @placeholder = Translation.ReqCustomerName, @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(m => m.CustomerName, "", new { @class = "valid-text" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.LocationId, new { @class = "bmd-label-floating required" })
                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @placeholder = Translation.ReqCustomerName, @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(m => m.LocationId, "", new { @class = "valid-text" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CustomerContact, new { @class = "bmd-label-floating required" })
                            @Html.TextBoxFor(m => m.CustomerContact, new { @class = "form-control numOnly", @placeholder = Translation.ReqCustomerContact, @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(m => m.CustomerContact, "", new { @class = "valid-text" })
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.InstallDate, new { @class = "bmd-label-floating required" })
                            @{
                                string txtInstallDate = "";
                                if (Model.PreferDate == 1)
                                {
                                    txtInstallDate = Translation.PreferAsap;
                                }
                                else if (Model.PreferDate == 2)
                                {
                                    txtInstallDate = @Model.InstallDate;
                                }

                                <input type="text" class="form-control" value="@txtInstallDate" readonly />
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.PrefferTime, new { @class = "bmd-label-floating required" })
                            @{
                                string txtInstallTime = "";
                                if (Model.PrefferTime == 1)
                                {
                                    txtInstallTime = Translation.MorningTime;
                                }
                                else if (Model.PrefferTime == 2)
                                {
                                    txtInstallTime = @Translation.EveningTime;
                                }
                                else
                                {
                                    txtInstallTime = Model.PreferTiming;
                                }
                                <input type="text" class="form-control" value="@txtInstallTime" readonly />
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.AlternateMobile, new { @class = "bmd-label-floating required" })
                            @Html.TextBoxFor(m => m.AlternateMobile, new { @class = "form-control numOnly", @placeholder = Translation.AlternateMobile, @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(m => m.AlternateMobile, "", new { @class = "valid-text" })
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Comments, new { @class = "bmd-label-floating required" })
                            @Html.TextBoxFor(m => m.Comments, new { @class = "form-control numOnly", @placeholder = Translation.Comments, @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Comments, "", new { @class = "valid-text" })
                    </div>
                </div>
                <hr class="thick" />
                @{
                    decimal total_Service = 0;
                    decimal total_Vat = 0;
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-bordered" id="dtServices">
                                    <thead class="thead-light">
                                                        <tr>
                                                            <th width="25%">@Translation.Services</th>
                                                            @*<th width="25%">Unit</th>*@
                                                            <th width="25%">@Translation.ItemCount</th>
                                                            <th width="25%">@Translation.UnitPrice</th>
                                                            <th width="15%">@Translation.Total</th>
                                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<vm_OrderServices>)ViewBag.Services)
                                        {
                                            if (item.IsActive)
                                            {
                                        <tr>
                                            <td>
                                                @item.ServiceName
                                                <input type="hidden" id="hfService" value="@item.ServiceId" />
                                            </td>
                                            @*<td>
                                                @item.Unit
                                                <input type="hidden" id="hfUnit" value="@item.Unit" />
                                            </td>*@
                                            <td>
                                                @item.Quantity
                                                <input type="hidden" id="hfQuantity" value="@item.Quantity" />
                                            </td>
                                            <td>
                                                @(item.Price)
                                            </td>
                                            <td>
                                                @(item.Price * item.Quantity)
                                                @{
                                                    total_Service += (item.Price * item.Quantity);
                                                }
                                            </td>
                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            &nbsp;
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group f-right">
                                @Translation.SubTotal
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ServiceTotal, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            &nbsp;
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group" style="text-align:right;">
                                @Translation.Vat&nbsp;(@ViewBag.Vat%)
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group">
                                @if (ViewBag.Vat != null)
                                {
                                    var totalVat = (total_Service * (Convert.ToDecimal(ViewBag.Vat) / 100)).ToString("#.##");
                                    Model.Vat = Convert.ToDecimal(totalVat);
                                    total_Vat = Convert.ToDecimal(totalVat);
                                }
                                @Html.TextBoxFor(m => m.Vat, new { @class = "form-control", @readonly = "true", @value = total_Vat.ToString("#.##") })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            &nbsp;
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group" style="text-align:right;">
                                @Translation.GrandTotal
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group">
                                @{
                                    //var totalAmount = (total_Vat + total_Service).ToString("#.##");
                                    var totalAmount = (total_Service + total_Vat).ToString("#.##");
                                    //Model.TotalAmount = Convert.ToDecimal(total_Service);
                                    Model.TotalAmount = Convert.ToDecimal(totalAmount);
                                }
                                @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control", @readonly = "true", @value = totalAmount })
                            </div>
                        </div>
                    </div>
                }

                @*@if (ViewBag.Additional != null && ((List<vm_AdditionalService>)ViewBag.Additional).Count > 0)
        {
            <hr class="thick" />
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12total_Service
                    <div class="form-label-group">
                        <label>@Translation.AdditionalServices</label>
                    </div>

                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-bordered" id="dtvAdditional">
                            <thead class="thead-light">
                                <tr>
                                    <th width="25%">@Translation.Services</th>
                                    <th width="20%">@Translation.Quantity</th>
                                    <th width="20%">@Translation.UnitPrice</th>
                                    <th width="25%">@Translation.SpareParts</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in (List<vm_AdditionalService>)ViewBag.Additional)
                                {
                                    <tr>
                                        <td>
                                            @item.ServiceName
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            @item.Price
                                        </td>
                                        <td>
                                            @item.SpareParts
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }*@

                @if (ViewBag.History != null && ((List<vm_OrderHistoryList>)ViewBag.History).Count > 0)
                {
                    <hr class="thick" />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-label-group">
                                <label>@Translation.History</label>
                            </div>

                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-bordered" id="dtHistory">
                                    <thead class="thead-light">
                                        <tr>
                                            <th width="15%">@Translation.ActivityDate</th>
                                            <th width="20%">@Translation.NewStatus</th>
                                            <th width="30%">@Translation.DoneBy</th>
                                            <th width="30%">@Translation.Comments</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in (List<vm_OrderHistoryList>)ViewBag.History)
                                        {
                                            if (item.Status != 4)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.ActivityDate
                                                    </td>
                                                    <td>
                                                        @item.NewStatus
                                                    </td>
                                                    <td>
                                                        @item.DoneBy
                                                    </td>
                                                    <td>
                                                        @item.Comments
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    if (!string.IsNullOrEmpty(Model.CustomerSignOff))
                    {
                        <a href="@Url.Action("Download","Home", new { FileName = Model.CustomerSignOff })" target="_blank" class="btn btn-primary">@Translation.CustomerSignOff <i class="fa fa-download"></i></a>
                    }
                    @*if (ViewBag.ExistAttachment != null)
            {
                <a href="@Url.Action("Download","Home", new { FileName = ViewBag.ExistAttachment })" target="_blank" class="btn btn-primary">@Translation.Download <i class="fa fa-download"></i></a>
            }*@
                }
            </div>
        </div>
    </div>
</div>

<style>
    #seconddialog.modal-dialog {
        overflow-y: initial !important
    }

    #secondModalBody.modal-body {
        max-height: 500px;
        overflow-y: auto;
    }
</style>
@section scripts{

    @if (ViewBag.History != null)
    {
        <script>
            $('#dtHistory').DataTable({
                "dom": '<"top"i>rt<"bottom"lp><"clear">',
                "bSearchable": false,
                "bSortable": true,
                "bInfo": false,
                "bLengthChange": false,
                "AutoWidth": true,
                "bPaginate": false,
                "pageLength": 15,
                "order": [],
                "columnDefs": [{ orderable: true, "targets": [0, 1, 2, 3] }],
                 "language": {
                    "paginate": {
                        "previous": "«",
                        "next": "»",
                    },
                     "info": "@Translation.Showing _START_ @Translation.to _END_ @Translation.of _TOTAL_ @Translation.entries",
                        "infoEmpty": "@Translation.Showing 0 @Translation.to 0 @Translation.of 0 @Translation.entries",
                        "emptyTable": false,
                        "sEmptyTable": "@Translation.NoMatchingRecords",
                },
            });
        </script>
    }

    @if (ViewBag.Services != null)
    {
        <script>
            $('#dtServices').DataTable({
                "dom": '<"top"i>rt<"bottom"lp><"clear">',
                "bSearchable": false,
                "bInfo": false,
                "bLengthChange": false,
                "AutoWidth": true,
                "bPaginate": false,
                "order": [],
                "columnDefs": [{ orderable: false, "targets": [0, 1, 2, 3] }],
                 "language": {
                    "paginate": {
                        "previous": "«",
                        "next": "»",
                    },
                      "info": "@Translation.Showing _START_ @Translation.to _END_ @Translation.of _TOTAL_ @Translation.entries",
                        "infoEmpty": "@Translation.Showing 0 @Translation.to 0 @Translation.of 0 @Translation.entries",
                        "emptyTable": false,
                        "sEmptyTable": "@Translation.NoMatchingRecords",
                },
            });
        </script>
    }

    @if (ViewBag.Additional != null)
    {
        <script>
            $('#dtAdditional').DataTable({
                "dom": '<"top"i>rt<"bottom"lp><"clear">',
                "bSearchable": false,
                "bSortable": false,
                "bInfo": false,
                "bLengthChange": false,
                "AutoWidth": true,
                "bPaginate": true,
                "pageLength": 5,
                "order": [],
                "columnDefs": [{ orderable: false, "targets": [0, 1, 2, 3] }],
                 "language": {
                    "paginate": {
                        "previous": "«",
                        "next": "»",
                    },
                    "info": "@Translation.Showing _START_ @Translation.to _END_ @Translation.of _TOTAL_ @Translation.entries",
                        "infoEmpty": "@Translation.Showing 0 @Translation.to 0 @Translation.of 0 @Translation.entries",
                        "emptyTable": false,
                        "sEmptyTable": "@Translation.NoMatchingRecords",
                },
            });
        </script>
    }

}
