
@{
    ViewBag.Title = Translation.Details;
}

@model vm_Order

@using Almanea.Models;
@using Almanea.BusinessLogic;

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header ta-right">
                @*<a href="@Url.Action("Details","Print")/@ViewBag.Id" target="_blank" title="Print" data-toggle="tooltip"><i class="fa fa-print"></i></a>*@
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SellerName, new { @class = "bmd-label-floating" })
                            @Html.TextBoxFor(m => m.SellerName, new { @class = "form-control", @placeholder = Translation.ReqSellerName, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SellerContact, new { @class = "bmd-label-floating" })
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">+966</span>
                                </div>
                                @Html.TextBoxFor(m => m.SellerContact, new { @class = "form-control numOnly", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.OrderNo, new { @class = "bmd-label-floating" })
                            @Html.TextBoxFor(m => m.OrderNo, new { @class = "form-control", @placeholder = Translation.ReqInvoiceNo, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.InvoiceNo, new { @class = "bmd-label-floating" })
                            @Html.TextBoxFor(m => m.InvoiceNo, new { @class = "form-control", @placeholder = Translation.ReqInvoiceNo, @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <hr class="thick" />

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CustomerName, new { @class = "bmd-label-floating required" })
                            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @placeholder = Translation.ReqCustomerName, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.LocationId, new { @class = "bmd-label-floating required" })
                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @placeholder = Translation.ReqCustomerName, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CustomerContact, new { @class = "bmd-label-floating required" })
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">+966</span>
                                </div>
                                @Html.TextBoxFor(m => m.CustomerContact, new { @class = "form-control numOnly", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.InstallDate, new { @class = "bmd-label-floating required" })
                            @{
                                string txtInstallDate = "";
                                if (Model.PreferDate == 1)
                                {
                                    txtInstallDate = Translation.PreferAsap;
                                }
                                else if (Model.PreferDate == 2)
                                {
                                    txtInstallDate = @Model.InstallDate;
                                }
                                <input type="text" class="form-control" value="@txtInstallDate" readonly />
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.PrefferTime, new { @class = "bmd-label-floating required" })
                            @{
                                string txtInstallTime = "";
                                if (Model.PrefferTime == 1)
                                {
                                    txtInstallTime = Translation.MorningTime;
                                }
                                else if (Model.PrefferTime == 2)
                                {
                                    txtInstallTime = @Translation.EveningTime;
                                }
                                else
                                {
                                    txtInstallTime = Model.PreferTiming;
                                }
                                <input type="text" class="form-control" value="@txtInstallTime" readonly />
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        @Html.LabelFor(m => m.AlternateMobile, new { @class = "bmd-label-floating required" })
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">+966</span>
                            </div>
                            @Html.TextBoxFor(m => m.AlternateMobile, new { @class = "form-control numOnly", @readonly = "readonly" })
                        </div>
                    </div>
                    @if (Convert.ToInt32(Session[cls_Defaults.Session_UserGroupTypeId]) == (int)enumGroupType.Admin)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Translation.CustomerCode</label>
                                <input type="text" class="form-control" value="@Model.CustomerCode" readonly />
                            </div>
                        </div>
                    }
                </div>
                <hr class="thick" />

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-bordered" id="dataTable">
                                <thead class="thead-light">
                                    <tr>
                                        <th width="25%">@Translation.Services</th>
                                        <th width="25%">@Translation.ItemCount</th>
                                        <th width="25%">@Translation.UnitPrice</th>
                                        <th width="15%">@Translation.Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Services != null)
                                    {
                                        foreach (var item in (List<vm_OrderServices>)ViewBag.Services)
                                        {
                                            if (item.IsActive)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.ServiceName
                                                        <input type="hidden" id="hfService" value="@item.ServiceId" />
                                                    </td>
                                                    <td>
                                                        @item.Quantity
                                                        <input type="hidden" id="hfQuantity" value="@item.Quantity" />
                                                    </td>
                                                    <td>
                                                        @(item.Price)
                                                    </td>
                                                    <td>
                                                        @(item.Price * item.Quantity)
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        &nbsp;
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                        <div class="form-group f-right">
                            @Translation.SubTotal
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.ServiceTotal, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        &nbsp;
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                        <div class="form-group f-right">
                            @Translation.Vat&nbsp;(@ViewBag.Vat%)
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.ServiceVat, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        &nbsp;
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                        <div class="form-group f-right">
                            @Translation.GrandTotal
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                        <div class="form-group">
                            @{
                                var totalAmount = (Model.ServiceTotal + Model.ServiceVat).ToString("#.##");
                            }
                            <input type="text" class="form-control" value="@totalAmount" readonly />
                        </div>
                    </div>
                </div>


                @if (ViewBag.Additional != null && ((List<vm_AdditionalService>)ViewBag.Additional).Count > 0)
                {
                    <hr class="thick" />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-label-group">
                                <label>@Translation.AdditionalServices</label>
                            </div>

                            <div class="table-responsive">
                                <table class="table align-items-center table-flush table-bordered" id="dtvAdditional">
                                    <thead class="thead-light">
                                        <tr>
                                            <th width="25%">@Translation.Services</th>
                                            <th width="20%">@Translation.Quantity</th>
                                            <th width="20%">@Translation.UnitPrice</th>
                                            <th width="25%">@Translation.SpareParts</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<vm_AdditionalService>)ViewBag.Additional)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ServiceName
                                                </td>
                                                <td>
                                                    @item.Quantity
                                                </td>
                                                <td>
                                                    @item.Price
                                                </td>
                                                <td>
                                                    @item.SpareParts
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            &nbsp;
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group f-right">
                                @Translation.SubTotal
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.AdditionalTotal, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            &nbsp;
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group f-right">
                                @Translation.Vat&nbsp;(@ViewBag.Vat%)
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.AdditionalVat, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            &nbsp;
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group f-right">
                                @Translation.GrandTotal
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                            <div class="form-group">
                                @{
                                    var additionalAmt = (Model.AdditionalTotal + Model.AdditionalVat).ToString("#.##");
                                }
                                <input type="text" class="form-control" value="@additionalAmt" readonly />
                            </div>
                        </div>
                    </div>
                }
                @{
                    var userGroupType = Convert.ToInt32(Session[cls_Defaults.Session_UserGroupTypeId]);

                    if (userGroupType == (int)enumGroupType.Admin && ViewBag.AddedUser != null)
                    {
                        var group = (tblAdminUser)ViewBag.AddedUser;

                        <hr class="thick" />

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">@Translation.ServiceProvider</label>
                                    @{
                                        var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
                                    }

                                    @if (culture.Equals("ar"))
                                    {
                                        <input type="text" class="form-control" value="@group.tblUserGroupCompany.CompanyNameAR" readonly />
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" value="@group.tblUserGroupCompany.CompanyNameEN" readonly />
                                    }
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">@Translation.AdminUser</label>
                                    <input type="text" class="form-control" value="@group.FirstName @group.LastName" readonly />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">@Translation.Telephone</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">+966</span>
                                        </div>
                                        <input type="text" class="form-control" value="@group.MobileNo" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <hr class="thick" />
                @Html.Partial("_ComplainDetails", (vm_ComplainResponse)ViewBag.Complain)
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        function SubmitComplain(status) {
            $.post("@Url.Action("UpdateComplain")", {
                'Id': @ViewBag.Id,
                'Response': $('#Response').val(),
                'StatusId': status
            }, function (response) {
                if (response.StatusId > 0) {
                    //Success Message
                    successPopup("@Translation.success_Update");

                    setTimeout(function () { window.location = '@Url.Action("Complain")'; }, 3000);
                }
            });
        }
    </script>
}