

@model Almanea.Models.vm_EditPassword

@using (Ajax.BeginForm("UpdatePassword", "User", null,
                             new AjaxOptions
                             {
                                 HttpMethod = "POST",
                                 OnSuccess = "onSuccess",
                             }, new { id = "frmAdd" }))
{

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-label-group">                    
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Translation.Password, autofocus = "autofocus" })
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-label-group">                   
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Translation.ConfirmPassword, autofocus = "autofocus" })                    
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.UserId)
    <div class="row">
        <div class="col-md-6">
            <input type="submit" value="@Translation.Submit" class="btn btn-primary" />
        </div>
    </div>
}